.button {
    -fx-background-color: #5bc0de;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 30 30 30 30;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 0);
    -fx-transition: all 0.3s ease;
}

.button:hover {
    -fx-background-color: #31b0d5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 12, 0.6, 0, 0);
}

.button:pressed {
    -fx-background-color: #5bc0de;
    -fx-effect: none;
}
.text-field {
    -fx-background-color: #5bc0de;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-padding: 5 10;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.text-field:hover {
    -fx-background-color: #31b0d5;
}

.text-field:focused {
    -fx-border-color: #ffffff;
    -fx-background-color: #5bc0de;
}
.list-view {
    -fx-background-color: #4D0D6A;
    -fx-control-inner-background: #4D0D6A;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 5;
}

.list-cell {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

.table-view {
    -fx-background-color: #4D0D6A;
    -fx-control-inner-background: #4D0D6A;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

.table-column {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}
.table-cell {
    -fx-background-color: transparent;
}

.label{
     -fx-text-fill: #ffffff;
 }


.tab-header-background {
    -fx-background-color: #24003B;
}

.tab-pane .tab {
    -fx-background-color: 360052;
}

.tab-pane .tab:selected {
    -fx-background-color: #4D0D6A;
}


.tab-pane .tab-label {
    -fx-text-fill: #ffffff;
}

 .table-view {
     -fx-background-color: #4D0D6A;
     -fx-text-fill: #ffffff;
 }

 .button {
     -fx-background-radius: 20;
     -fx-font-weight: bold;
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
 }

 .custom-vbox {
     -fx-background-color: #4D0D6A;
 }


 .scroll-bar {
     -fx-background-color: transparent;
 }


 .scroll-bar .thumb {
     -fx-background-color: #5bc0de;
     -fx-background-radius: 5;
 }


 .scroll-bar .thumb:hover {
     -fx-background-color: #31b0d5;
 }


 .scroll-bar .increment-button,
 .scroll-bar .decrement-button {
     -fx-background-color: #5bc0de;
 }


 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow {
     -fx-background-color: #4D0D6A;
 }

 .scroll-bar .track {
     -fx-background-color: #4D0D6A;
 }

.Tab[text="Ajustes"] .button {
     -fx-background-color: #5bc0de;
     -fx-text-fill: #ffffff;
     -fx-background-radius: 30 30 30 30;
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 0);
     -fx-transition: all 0.3s ease;
    -fx-pref-width: 140.0 !important;
    -fx-pref-height: 36.0 !important;
 }

.Tab[text="Ajustes"] .button:hover {
     -fx-background-color: #31b0d5;
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 12, 0.6, 0, 0);
    -fx-pref-width: 140.0 !important;
    -fx-pref-height: 36.0 !important;
 }

.Tab[text="Ajustes"] .button:pressed {
     -fx-background-color: #5bc0de;
     -fx-effect: none;
    -fx-pref-width: 140.0 !important;
    -fx-pref-height: 36.0 !important;
 }