.table-view {
    -fx-background-color: #4D0D6A;
    -fx-control-inner-background: #4D0D6A;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

.table-column {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;

}
.table-row-cell {
    -fx-border-color: #24003B;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;

}
.table-row-cell:hover {
    -fx-background-color: #5e228c;
}

.table-cell {
    -fx-border-color: #24003B;
    -fx-alignment: CENTER;
    -fx-border-style: solid;
    -fx-font-size: 12px;
}


.column-header-background {
    -fx-background-color: #360052;
    -fx-text-fill: #ffffff;
    }
.column-header{
    -fx-border-color: #24003B;
}
